<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Comics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">comics</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <div class="comic-list__search container--small">
        <div class="search-input search-input--large">
          <ion-icon name="search-outline"></ion-icon>
          <!--i class="search-input__icon">
            <svg>
              <use xlink:href="#search-outline"></use>
            </svg>
          </i-->
          <ion-input placeholder="Buscador" type="text" value></ion-input>
        </div>
      </div>
    </ion-item>

    <ion-grid>
      <ion-row class="ion-justify-content-start">
        <ion-col size="12" size-sm="6" size-md="4" size-lg="4" *ngFor="let c of (comic$ | async); let i = index">
          <ion-card class="comic-card" (click)="seeComic(c.id)" button>
            <ion-card-header>
              <div class="thumb">
                <div class="image-container">
                  <img [src]="c.cover?.thumbnail" alt="Cover">
                </div>
              </div>
              <ion-card-title>{{c.title}}</ion-card-title>
            </ion-card-header>
            <!--ion-card-content>
              <p>Autor: {{c.autor}}</p>
              <p>Pulicado en {{c.fechaPublicacion}}</p>
            </ion-card-content-->
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--ion-list>
      <ion-item>
        <ion-label></ion-label>
      </ion-item>
    </ion-list-->
  </div>
</ion-content>
